{% extends 'base.html' %}

{% block body %}

<div class="py-5 bg-dark text-white ">
  <div class="animate__animated animate__jackInTheBox animate__slower">
    <p><center><h1>Other Projects: </h1></center></p>
  </div>
</div>

<div>
  <div class="album py-5 bg-dark bg-gradient">
      <div class="container">
  
        <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm opacity-75">
              <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                  <h3>Hostel Management System</h3>
              </div>
               <img src="/static/media/otherProject/other1.png" height="400" alt="Hostel Management System">
              <div class="card-body bg-light">
                <p class="card-text">A database management system made for institute for an offline system to manage the allocation and deallocation of rooms for students and employees of an institute. <br /></p>
                Features:
                    <ul>
                        <li>Admin Mode</li>
                        <li>Manage Rooms</li>
                        <li>Manage Residents</li>
                        <li>Check Records</li>
                    </ul>
                <div class="d-flex justify-content-center my-4">
                  <div class="work-item-tags-container">
                    <span style="color:white; padding: 8px; background:#506347;">VB.NET</span>
                    <span style="color: white; padding:8px;background:#706347;">Visual Studio</span>
                    <span style="color:white; padding:8px;background:#796ea1;">MSSQL</span> 
                  </div>
                </div>
                <div>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            View Project Link
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                              <li class="nav-item">
                                  <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/Hostel-management">Github</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>                                              
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm opacity-75">
              <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                  <h3>React MySQL</h3>
              </div>
               <img src="/static/media/otherProject/other2.png" height="400" alt="React MySQL">
              <div class="card-body bg-light">
                <p class="card-text">Connection between MySQL using React to view contents of a database.
                  Database is stored in local host.</p>
                <div class="d-flex justify-content-center my-4">
                  <div class="work-item-tags-container">
                    <span style="color:white; padding: 8px; background:#506347;">React</span>
                    <span style="color: white; padding:8px;background:#706347;">MySQL</span>
                    <span style="color:white; padding:8px;background:#796ea1;">Apache</span>
                  </div>
                </div>
                <div>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            View Project Link
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                              <li class="nav-item">
                                  <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/ReactMySQL">Github</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>                                              
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm opacity-75">
              <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                  <h3>Automate certificate creation</h3>
              </div>
               <img src="/static/media/otherProject/other3.png" height="400" alt="Automate certificate creation">
              <div class="card-body bg-light">
                <p class="card-text">Tired of manually writing the names while creating certificate? Use this script to automate creation of certificate by giving it acces to the names list.
                  <br />
                </p>
                Features:
                  <ul>
                      <li>One Click use</li>
                      <li>Easy configuration of path location</li>
                      <li>PPTX to PDF conversion</li>                    
                  </ul>
                  <div class="d-flex justify-content-center my-4">
                      <div class="work-item-tags-container">
                        <span style="color:white; padding: 8px; background:#506347;">Python</span>
                        <span style="color: white; padding:8px;background:#706347;">PPTX,PPT support</span>
                        <span style="color:white; padding:8px;background:#796ea1;">PDF conversion</span>
                      </div>
                  </div>
                    <div>
                      <div class="accordion" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                View Project Link
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                <ul>
                                  <li class="nav-item">
                                      <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/CertificateAutomation">Github</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>                                              
                        </div>
                    </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm opacity-75">
              <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                  <h3>Chatbot Flow Builder</h3>
              </div>
               <img src="/static/media/otherProject/other4.png" height="400" alt="Chatbot Flow Builder">
              <div class="card-body bg-light">
                <p class="card-text">
                  A simple Chatbot flow builder using React and extensible to easily add new features like more custom nodes. 
              </p>
              <div class="d-flex justify-content-center my-4">
                  <div class="work-item-tags-container">
                      <span style="color:white; padding: 8px; background:#506347;">React</span>
                      <span style="color: white; padding:8px;background:#706347;">React Flow</span>
                      <span style="color:white; padding:8px;background:#796ea1;">Javascript</span>
                  </div>
              </div>

              <div>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            View Project Link
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                              <li class="nav-item">
                                  <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/chatbot">Github</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" target="_blank" aria-current="page" href="https://chatbot-atariopz.vercel.app/">Vercel</a>
                            </li>
                            </ul>
                          </div>
                        </div>
                      </div>                                              
                    </div>
                </div>
              </div>
            </div>
          </div>            
        </div>
      </div>
    </div>
</div>

{% endblock body %}