{% extends 'base.html' %}

{% block body %}

<div class="py-5 bg-dark text-white ">
  <div class="animate__animated animate__jackInTheBox animate__slower">
    <p><center><h1>Game Projects: </h1></center></p>
  </div>
</div>

<div>
    <div class="album py-5 bg-dark bg-gradient">
        <div class="container">
    
          <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm opacity-75">
                <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                    <h3>Doors & Keys</h3>
                </div>
                {% load static %} <img src="{% static "/media/game/game1.png" %}" height="400" alt="Doors & Keys">
                <div class="card-body bg-light">
                  <p class="card-text">A Simple 2D game where you need to collect coins and key to pass a level.</p>
                  <div class="d-flex justify-content-center my-4">
                    <div class="work-item-tags-container">
                        <span style="color:white; padding: 8px; background:#506347;">c#</span>
                        <span style="color: white; padding:8px;background:#706347;">2D</span>
                        <span style="color:white; padding:8px;background:#796ea1;">Unity</span> 
                        <span style="color:white; padding:8px;background:#797ea1;">2D Sprites</span> 
                    </div>
                  </div>
                  <div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              View Project Link
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              <ul>
                                <li class="nav-item">
                                    <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/Doors-and-Key">Github</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>                                              
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm opacity-75">
                <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                    <h3>Jumping Dino</h3>
                </div>
                {% load static %} <img src="{% static "/media/game/game2.png" %}" height="400" alt="Jumping Dino">
                <div class="card-body bg-light">
                  <p class="card-text">Simple Web browser game made using Javascript and CSS </p>
                  <div class="d-flex justify-content-center my-4">
                    <div class="work-item-tags-container">
                        <span style="color:white; padding: 8px; background:#506347;">HTML</span>
                        <span style="color: white; padding:8px;background:#706347;">CSS</span>
                        <span style="color:white; padding:8px;background:#796ea1;">Javascript</span>
                    </div>
                  </div>
                  <div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              View Project Link
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              <ul>
                                <li class="nav-item">
                                    <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/Jumping-Dino">Github</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>                                              
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm opacity-75">
                <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                    <h3>Lost in Rooms</h3>
                </div>
                {% load static %} <img src="{% static "/media/game/game3.png" %}" height="400" alt="Lost in Rooms">
                <div class="card-body bg-light">
                  <p class="card-text">A game inspired by Zelda and various other puzzle games.
                    <br />
                    You are trapped inside rooms because of some unforeseen event and now it is your task to solve the puzzles presented in front of you and figure out what happened to you.</p>
                    <div class="d-flex justify-content-center my-4">
                        <div class="work-item-tags-container">
                            <span style="color:white; padding: 8px; background:#506347;">C#</span>
                            <span style="color: white; padding:8px;background:#706347;">2D Top Down</span>
                            <span style="color:white; padding:8px;background:#796ea1;">Unity</span>
                            <span style="color:white; padding:8px;background:#797ea1;">Aesprites</span>
                        </div>
                    </div>
                      <div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                  View Project Link
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                  <ul>
                                    <li class="nav-item">
                                        <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/Game">Github</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" target="_blank" aria-current="page" href="https://atariopz.itch.io/lost-in-rooms">Itch.io</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>                                              
                          </div>
                      </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm opacity-75">
                <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                    <h3>Robo Cleaner</h3>
                </div>
                {% load static %} <img src="{% static "/media/game/game4.png" %}" height="400" alt="Robo Cleaner">
                <div class="card-body bg-light">
                  <p class="card-text">
                    A game quickly put together in a day for Wowie Game Jam 4 under the theme of "Collaborate with AI". 
                    <br />
                    You assist a robot in getting rid of the pest by controlling a gate.
                </p>
                <div class="d-flex justify-content-center my-4">
                    <div class="work-item-tags-container">
                        <span style="color:white; padding: 8px; background:#506347;">C#</span>
                        <span style="color: white; padding:8px;background:#706347;">2D Top Down</span>
                        <span style="color:white; padding:8px;background:#796ea1;">Unity</span>
                        
                        <span style="color:white; padding:8px;background:#796ea1;">Game Jam</span>
                    </div>
                </div>

                <div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              View Project Link
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              <ul>
                                <li class="nav-item">
                                    <a class="nav-link active" target="_blank" aria-current="page" href="https://atariopz.itch.io/robo-cleaner">Itch.io</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>                                              
                      </div>
                  </div>
                </div>
              </div>
            </div>    
            <div class="col">
              <div class="card shadow-sm opacity-75">
                <div class="bg-dark bg-gradient text-white d-flex justify-content-center ">
                    <h3>Bottle Flip</h3>
                </div>
                {% load static %} <img src="{% static "/media/game/game5.png" %}" height="400" alt="Bottle Flip">
                <div class="card-body bg-light">
                  <p class="card-text">
                    Bottle flip game made using only python.
                </p>
                <div class="d-flex justify-content-center my-4">
                    <div class="work-item-tags-container">
                        <span style="color:white; padding: 8px; background:#506347;">Python</span>
                    </div>
                </div>

                <div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              View Project Link
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              <ul>
                                <li class="nav-item">
                                    <a class="nav-link active" target="_blank" aria-current="page" href="https://github.com/AtarioPZ/BottleFlip">Github</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>                                              
                      </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
</div>

{% endblock body %}